<%# 新規登録画面 %>
<div class="contents row">
  <div class="container">
    <h2>Sign up</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :nickname %> <em>(10 characters maximum)</em><br />
        <%= f.text_field :nickname, autofocus: true, maxlength: "10" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @validatable %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>
    
  </div>
  <div class="t_names_form__group1">
    <div class="t_names_member">
      <div class="t_names_number">
      お名前
      </div>
      <div class="t_names_hissu">
      必須
      </div>
    </div>
    <input class="t_names_input" placeholder="例)山田" type="text" name="user[first_name]" id="user_first_name">
    <input class="t_names_input" placeholder="例)彩" type="text" name="user[second_name]" id="user_second_name">
  </div>
  
  <div class="t_names_form__group2">
    <div class="t_names_member">
      <div class="t_names_number">
      お名前かな
      </div>
      <div class="t_names_hissu">
      必須
      </div>
    </div>
    <input class="t_names_input" placeholder="例)やまだ" type="text" name="user[hurigana_first]" id="user_hurigana_first">
    <input class="t_names_input" placeholder="例)あや" type="text" name="user[hurigana_second]" id="user_hurigana_second">
  </div>


</div>